{erl_opts, [debug_info]}.
{deps, [
  {lager, "2.1.1"},
  lager_watchdog,
  {lager_logstash_backend, ".*", {git, "https://github.com/QBurstPoland/lager_logstash_backend.git", {ref, "069f5c803b5372fb7604789ee64bcbfef78e493a"}}},
  {lager_graylog, ".*", {git, "https://github.com/esl/lager_graylog.git", {ref, "15f5d094448baa7f7018397e8e4493e9e919edfc"}}}
]}.
